 server {
     listen 80;
     listen [::]:80;

     server_name www.{{ _site.url }};
      {% if letsencrypt %}
     return  301  https://{{ _site.url }}$request_uri;
      {% else %}
     return  301  http://{{ _site.url }}$request_uri;
      {% endif %}
 }


# http -> https redirect code START =============
# server {
#     listen 443 ssl;
#     listen [::]:443 ssl;
#
#     {% if letsencrypt %}
#     include /etc/nginx/certbot_{{ _site.name }}.conf;
#     {% endif %}
#
#
#     server_name *.{{ _site.url }};
#     return  301  https://{{ _site.url }}$request_uri;
# }
# http -> https redirect code END   =============

server {
    listen       80;
    listen [::]:80;
		server_name {{ _site.url }};

		root {{ _site.www_path }};

    {% if letsencrypt %}
    include /etc/nginx/certbot_{{ _site.name }}.conf;
    {% endif %}

    error_log {{ _site.logs_path }}/error.log;
    access_log off; #{{ _site.logs_path }}/access.log;

		error_page  404              /404.html;
		error_page   500 502 503 504  /500.html;

    # http://tweaked.io/guide/nginx/
    location ~* \.(xml|html|json|htm)$ {
			       gzip_static on;
             access_log        off;
             log_not_found     off;
             expires           8h;
			       add_header Cache-Control public;
    }

    location ~* \.(jpg|jpeg|gif|png|ico|css|js)$ {
			       gzip_static on;
             access_log        off;
             log_not_found     off;
             expires           2d;
			       add_header Cache-Control public;
    }
}
